doctype html
html
	head
		title=title
		link(rel='stylesheet', href='/styles/style.css')
		meta(name='viewport' content='width=device-width, initial-scale=1')
	body
		.wrap
			.information
				p.information__description= content
				p.information__source= source
				p.subscript= "~reload to see another~"
